{% extends 'layout.njk' %}

{% block content %}

    <section class="cards">

        <div class="card" id="mapas-com-react-usando-leaflet/">

            <div class="card-image">
                <img src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg">
            </div>
            
            <div class="card-info">
                <p>Titulo do Post</p> 
                <p class="card-details">Mapas com React usando Leaflet</p>
                <p>Autor do Post</p> 
                <p class='card-details'>Thiago Marinho</p>
                <p>Tempo de leitura</p>
                <p class="card-details">11 min de leitura</p>
            </div>
        </div>
            <div class="card" id="axios-um-cliente-http-full-stack/">

                <div class="card-image">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/09/axios-um-cliente-http-full-stack-rocketseat.png">
                </div>
                
                <div class="card-info">
                    <p>Titulo do Post</p> 
                    <p class="card-details">Axios - um cliente HTTP Full Stack</p>
                    <p>Autor do Post</p> 
                    <p class='card-details'>Thiago Marinho</p>
                    <p>Tempo de leitura</p>
                    <p class="card-details">3 min de leitura</p>
                </div>
            </div>
                <div class="card" id="tipos-de-parametros-nas-requisicoes-rest/">

                    <div class="card-image">
                        <img src="https://blog.rocketseat.com.br/content/images/2020/08/tipos-de-parametros-nas-requisicoes-rest.png">
                    </div>
                    
                    <div class="card-info">
                        <p>Titulo do Post</p> 
                        <p class="card-details">Tipos de Parâmetros nas requisições REST</p>
                        <p>Autor do Post</p> 
                        <p class='card-details'>Thiago Marinho</p>
                        <p>Tempo de leitura</p>
                        <p class="card-details">2 min de leitura</p>
                    </div>
                </div> 

    </section>

    <footer class="links-footer">
        <a href="https://github.com/diego3g" target="_blank"id="github">
        <i class="fab fa-2x fa-github">
        </i></a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"id="instagram">
        <i class="fab fa-2x fa-instagram">
        </i></a>
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank"id="facebook">
        <i class="fab fa-2x fa-facebook">
        </i></a>
    </footer>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="fas fa-2x fa-window-close"></i>
            </a>
            <a class="maximize-modal">
                <i class="far fa-2x fa-window-maximize"></i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}